.thebox {
    background: rosybrown;
    border:  3px solid saddlebrown;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    height: 80px;
    width: 100px;
    display: flex;
    justify-content: center;
}

.container {
    background-color: blue;
    border: 8px solid darkblue;
    width: 400px;
    height: 400px ;
    display: flex;
    align-items: center;
    justify-content: center;
}